<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLx78KXs9qDL_NUXgUkA7U4KIIWXE1VBg</string>
	<key>GCM_SENDER_ID</key>
	<string>815155634540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.oflyTechTest</string>
	<key>PROJECT_ID</key>
	<string>ofly-tech-test</string>
	<key>STORAGE_BUCKET</key>
	<string>ofly-tech-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815155634540:ios:a973027cb3e4abfc2d9349</string>
</dict>
</plist>